
# No environment variables needed for development!
# Just ensure your backend is running on http://localhost:5000
#
# But on production, you might want to set the API base URL explicitly.
REACT_APP_API_URL=http://localhost:5000/api